// -----------------------------------------------------------------
// VARIABLES
//------------------------------------------------------------------

$text-color: var(--color-gray-800);
$head-color: var(--color-gray-700);
$text-muted: var(--color-gray-500);
$background: var(--color-gray-100);
$background-alt: var(--color-gray-200);

$colors: (
  'gray': (
    100: #f7fafc, 200: #edf2f7, 300: #e2e8f0, 400: #cbd5e0,
    500: #a0aec0,
    600: #718096, 700: #4a5568, 800: #2d3748, 900: #1a202c
  ),
  'blue': (
    100: #ebfafe, 200: #beedf9, 300: #93dbf3, 400: #69c5eb,
    500: #46a6d6,
    600: #4982ae, 700: #4d6f92, 800: #3f556f, 900: #2a3f59
  ),
  'red': (
    100: #fff5f5, 200: #fed7d7, 300: #feb2b2, 400: #fc8181,
    500: #f56565,
    600: #e53e3e, 700: #c53030, 800: #9b2c2c, 900: #742a2a
  ),
  'yellow': (
    100: #fffff0, 200: #fefcbf, 300: #faf089, 400: #f6e05e,
    500: #ecc94b,
    600: #d69e2e, 700: #b7791f, 800: #975a16, 900: #744210
  ),
  'green': (
    100: #f0fff4, 200: #c6f6d5, 300: #9ae6b4, 400: #68d391,
    500: #48bb78,
    600: #38a169, 700: #2f855a, 800: #276749, 900: #22543d
  ),
  'teal': (
    100: #e6fffa, 200: #b2f5ea, 300: #81e6d9, 400: #4fd1c5,
    500: #38b2ac,
    600: #319795, 700: #2c7a7b, 800: #285e61, 900: #234e52
  )
);

/** -----------------------------------------------------------------
  * CSS COLOR VARIABLES
------------------------------------------------------------------ */

// Create a css variable for each color in the colors map
body {
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --color-#{$color}-#{$shade}: #{$value};
      @if ($shade == 500) { --color-#{$color}: #{$value}; }
    }
  }
}

// Flip values of the variables in dark mode
body[data-theme="dark"] {
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      @if ($shade != 500) { --color-#{$color}-#{1000 - $shade}: #{$value}; }
    }
  }
}

// -----------------------------------------------------------------
// MIXINS
//------------------------------------------------------------------

@mixin txt-color($color, $shade: 500, $important: null) {
  color: var(--color-#{$color}-#{$shade}) $important;
}
@mixin bg-color($color, $shade: 500, $important: null) {
  background-color:  var(--color-#{$color}-#{$shade}) $important;
}
@mixin bdr-color($color, $shade: 500, $important: null) {
  border-color:  var(--color-#{$color}-#{$shade}) $important;
}

/** -----------------------------------------------------------------
  * COLOR CLASSES
------------------------------------------------------------------ */

@each $color, $shades in $colors {
  @each $shade, $value in $shades {
    .txt-#{$color}-#{$shade} { color: var(--color-#{$color}-#{$shade}); }
    .bg-#{$color}-#{$shade} { background: var(--color-#{$color}-#{$shade}); }
    .bdr-#{$color}-#{$shade} { border-color: var(--color-#{$color}-#{$shade}); }
    @if ($shade == 500) {
      .txt-#{$color} { color: var(--color-#{$color}); }
      .bg-#{$color} { background: var(--color-#{$color}); }
      .bdr-#{$color} { border-color: var(--color-#{$color}); }
    }
  }
}

:root {
  --brand-blue: #46a6d6;
  --brand-teal: #4fd1c5;
  --brand-dusk: #3f556f;
}
