.button {
  border: 2px solid var(--body-color);
  border-radius: var(--radius);
  color: var(--body-color);
  text-decoration: none;
  padding: 0.4em 1em;
  transition: opacity .2s;

  &:hover {
    border-color: var(--title-color);
    color: var(--title-color);
  }
}
