// Used to wrap content inside a nice box.
.content-box {
	max-width: var(--content-width);
	margin: 0 auto;
	padding: var(--space);
  //box-shadow: 1px 1px 5px 0 rgba(0,0,0,.02), 1px 1px 15px 0 rgba(0,0,0,.03);
}
.content-box-wide {
	max-width: calc(var(--content-width) * 1.5);
	margin: 0 auto;
	padding: var(--space);
  //box-shadow: 1px 1px 5px 0 rgba(0,0,0,.02), 1px 1px 15px 0 rgba(0,0,0,.03);
}
