$dark-theme: 'body[data-theme="dark"]';

$variables: (
  'content-width': 70ch
);

$border-radius: (
  'default': 10px,
  'small': 5px,
  'large': 25px,
  'xlarge': 50px,
);

$fonts: (
  'body': #{'Lato', sans-serif, 'mcadams-website'},
  'head': #{'Roboto Slab', serif, 'mcadams-website'},
  'mono': #{monospace, 'mcadams-website'},
  'icon': 'mcadams-website',
);

$colors: (
  'gray': (
    100: #f7fafc,
    200: #edf2f7,
    300: #e2e8f0,
    400: #cbd5e0,
    500: #a0aec0,
    600: #718096,
    700: #4a5568,
    800: #2d3748,
    900: #1a202c
  ),
  'blue': (
    100: #ebf8ff,
    200: #bee3f8,
    300: #90cdf4,
    400: #63b3ed,
    500: #4299e1,
    600: #3182ce,
    700: #2b6cb0,
    800: #2c5282,
    900: #2a4365
  ),
  'red': (
    100: #fff5f5,
    200: #fed7d7,
    300: #feb2b2,
    400: #fc8181,
    500: #f56565,
    600: #e53e3e,
    700: #c53030,
    800: #9b2c2c,
    900: #742a2a
  ),
  'yellow': (
    100: #fffff0,
    200: #fefcbf,
    300: #faf089,
    400: #f6e05e,
    500: #ecc94b,
    600: #d69e2e,
    700: #b7791f,
    800: #975a16,
    900: #744210
  ),
  'green': (
    100: #f0fff4,
    200: #c6f6d5,
    300: #9ae6b4,
    400: #68d391,
    500: #48bb78,
    600: #38a169,
    700: #2f855a,
    800: #276749,
    900: #22543d
  ),
  'teal': (
    100: #e6fffa,
    200: #b2f5ea,
    300: #81e6d9,
    400: #4fd1c5,
    500: #38b2ac,
    600: #319795,
    700: #2c7a7b,
    800: #285e61,
    900: #234e52
  )
);

/** -----------------------------------------------------------------
 * VARIABLES
------------------------------------------------------------------ */

body {
  @each $name, $value in $variables { --#{$name}: #{$value}; }
  @each $font, $value in $fonts { --font-#{$font}: #{$value}; }

  @each $size, $value in $border-radius {
    @if ($size != 'default') {
      --radius-#{$size}: #{$value};
    } @else { --radius: #{$value}; }
  }

  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --color-#{$color}-#{$shade}: #{$value};
      @if ($shade == 500) { --color-#{$color}: #{$value}; }
    }
  }
}

/** -----------------------------------------------------------------
 * Utility Classes
------------------------------------------------------------------ */

@each $color, $shades in $colors {
  @each $shade, $value in $shades {
    .txt-#{$color}-#{$shade} { color: var(--color-#{$color}-#{$shade}); }
    .bg-#{$color}-#{$shade} { background: var(--color-#{$color}-#{$shade}); }
    .bdr-#{$color}-#{$shade} { border-color: var(--color-#{$color}-#{$shade}); }
    @if ($shade == 500) {
      .txt-#{$color} { color: var(--color-#{$color}); }
      .bg-#{$color} { background: var(--color-#{$color}); }
      .bdr-#{$color} { border-color: var(--color-#{$color}); }
    }
  }
}

@each $size, $value in $border-radius {
  @if ($size != 'default') {
    .rounded-#{$size} { border-radius: var(--radius-#{$size}); }
  } @else {
    .rounded { border-radius: var(--radius); }
  }
}

.rounded-full { border-radius: 9999px; }

.mx-0 { margin-left: 0; margin-right: 0; }
.mx-1 { margin-left: var(--space); margin-right: var(--space); }
.mx-2 { margin-left: calc(var(--space) * 2); margin-right: calc(var(--space) * 2); }
.mx-3 { margin-left: calc(var(--space) * 3); margin-right: calc(var(--space) * 3); }
.mx-4 { margin-left: calc(var(--space) * 4); margin-right: calc(var(--space) * 4); }
.mx-5 { margin-left: calc(var(--space) * 5); margin-right: calc(var(--space) * 5); }
.mx-auto { margin-left: auto; margin-right: auto; }
.my-0 { margin-top: 0; margin-bottom: 0; }
.my-1 { margin-top: var(--space); margin-bottom: var(--space); }
.my-2 { margin-top: calc(var(--space) * 2); margin-bottom: calc(var(--space) * 2); }
.my-3 { margin-top: calc(var(--space) * 3); margin-bottom: calc(var(--space) * 3); }
.my-4 { margin-top: calc(var(--space) * 4); margin-bottom: calc(var(--space) * 4); }
.my-5 { margin-top: calc(var(--space) * 5); margin-bottom: calc(var(--space) * 5); }
.my-auto { margin-top: auto; margin-bottom: auto; }
.my-fluid { margin-top: var(--space-fluid); margin-bottom: var(--space-fluid); }
.my-fluid-half { margin-top: var(--space-fluid-half); margin-bottom: var(--space-fluid-half); }
.mt-0 { margin-top: 0; }
.mt-1 { margin-top: var(--space); }
.mt-2 { margin-top: calc(var(--space) * 2); }
.mt-3 { margin-top: calc(var(--space) * 3); }
.mt-4 { margin-top: calc(var(--space) * 4); }
.mt-5 { margin-top: calc(var(--space) * 5); }
.mt-fluid { margin-top: var(--space-fluid); }
.mt-fluid-half { margin-top: var(--space-fluid-half); }
.mr-0 { margin-right: 0; }
.mr-1 { margin-right: var(--space); }
.mr-2 { margin-right: calc(var(--space) * 2); }
.mr-3 { margin-right: calc(var(--space) * 3); }
.mr-4 { margin-right: calc(var(--space) * 4); }
.mr-5 { margin-right: calc(var(--space) * 5); }
.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: var(--space); }
.mb-2 { margin-bottom: calc(var(--space) * 2); }
.mb-3 { margin-bottom: calc(var(--space) * 3); }
.mb-4 { margin-bottom: calc(var(--space) * 4); }
.mb-5 { margin-bottom: calc(var(--space) * 5); }
.mb-fluid { margin-bottom: var(--space-fluid); }
.mb-fluid-half { margin-bottom: var(--space-fluid-half); }
.ml-0 { margin-left: 0; }
.ml-1 { margin-left: var(--space); }
.ml-2 { margin-left: calc(var(--space) * 2); }
.ml-3 { margin-left: calc(var(--space) * 3); }
.ml-4 { margin-left: calc(var(--space) * 4); }
.ml-5 { margin-left: calc(var(--space) * 5); }

.px-0 { padding-left: 0; padding-right: 0; }
.px-1 { padding-left: var(--space); padding-right: var(--space); }
.px-2 { padding-left: calc(var(--space) * 2); padding-right: calc(var(--space) * 2); }
.px-3 { padding-left: calc(var(--space) * 3); padding-right: calc(var(--space) * 3); }
.px-4 { padding-left: calc(var(--space) * 4); padding-right: calc(var(--space) * 4); }
.px-5 { padding-left: calc(var(--space) * 5); padding-right: calc(var(--space) * 5); }
.px-auto { padding-left: auto; padding-right: auto; }
.py-0 { padding-top: 0; padding-bottom: 0; }
.py-1 { padding-top: var(--space); padding-bottom: var(--space); }
.py-2 { padding-top: calc(var(--space) * 2); padding-bottom: calc(var(--space) * 2); }
.py-3 { padding-top: calc(var(--space) * 3); padding-bottom: calc(var(--space) * 3); }
.py-4 { padding-top: calc(var(--space) * 4); padding-bottom: calc(var(--space) * 4); }
.py-5 { padding-top: calc(var(--space) * 5); padding-bottom: calc(var(--space) * 5); }
.py-auto { padding-top: auto; padding-bottom: auto; }
.py-fluid { padding-top: var(--space-fluid); padding-bottom: var(--space-fluid); }
.py-fluid-half { padding-top: var(--space-fluid-half); padding-bottom: var(--space-fluid-half); }
.pt-0 { padding-top: 0; }
.pt-1 { padding-top: var(--space); }
.pt-2 { padding-top: calc(var(--space) * 2); }
.pt-3 { padding-top: calc(var(--space) * 3); }
.pt-4 { padding-top: calc(var(--space) * 4); }
.pt-5 { padding-top: calc(var(--space) * 5); }
.pt-fluid { padding-top: var(--space-fluid); }
.pt-fluid-half { padding-top: var(--space-fluid-half); }
.pr-0 { padding-right: 0; }
.pr-1 { padding-right: var(--space); }
.pr-2 { padding-right: calc(var(--space) * 2); }
.pr-3 { padding-right: calc(var(--space) * 3); }
.pr-4 { padding-right: calc(var(--space) * 4); }
.pr-5 { padding-right: calc(var(--space) * 5); }
.pb-0 { padding-bottom: 0; }
.pb-1 { padding-bottom: var(--space); }
.pb-2 { padding-bottom: calc(var(--space) * 2); }
.pb-3 { padding-bottom: calc(var(--space) * 3); }
.pb-4 { padding-bottom: calc(var(--space) * 4); }
.pb-5 { padding-bottom: calc(var(--space) * 5); }
.pb-fluid { padding-bottom: var(--space-fluid); }
.pb-fluid-half { padding-bottom: var(--space-fluid-half); }
.pl-0 { padding-left: 0; }
.pl-1 { padding-left: var(--space); }
.pl-2 { padding-left: calc(var(--space) * 2); }
.pl-3 { padding-left: calc(var(--space) * 3); }
.pl-4 { padding-left: calc(var(--space) * 4); }
.pl-5 { padding-left: calc(var(--space) * 5); }

/** -----------------------------------------------------------------
 * Dark theme colors
------------------------------------------------------------------ */

.light-theme-only { display: block; }
.dark-theme-only { display: none; }

#{$dark-theme} {
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      @if ($shade != 500) { --color-#{$color}-#{1000 - $shade}: #{$value}; }
    }
  }

  .light-theme-only { display: none; }
  .dark-theme-only { display: block; }
}

/** -----------------------------------------------------------------
 * Typography
------------------------------------------------------------------ */

@function pow($number, $exponent) {
  $value: 1;
  @if $exponent > 0 { @for $i from 1 through $exponent { $value: $value * $number; } }
  @return $value;
}

@mixin fluid($step: 0, $min-size: 18, $max-size: 20, $min-ratio: 1.2, $max-ratio: 1.25) {
  $_min-size: null;
  $_max-size: null;

  @if ($step < 0) {
    $_step: $step * -1;
    $_min-size: ($min-size / pow($min-ratio, $_step)) / 16;
    $_max-size: ($max-size / pow($max-ratio, $_step)) / 16;
  } @else if ($step > 0) {
    $_min-size: ($min-size * pow($min-ratio, $step)) / 16;
    $_max-size: ($max-size * pow($max-ratio, $step)) / 16;
  } @else {
    $_min-size: ($min-size) / 16;
    $_max-size: ($max-size) / 16;
  }

  $_difference: $_max-size - $_min-size;
  --fluid-#{$step}: calc(#{$_min-size * 1rem} + (#{$_difference} * var(--fluid-bp)));
}

$fluid-max-width: 1000;
$fluid-min-width: 320;

:root {
  --fluid-screen: 100vw;
  --fluid-bp: calc((var(--fluid-screen) - #{($fluid-min-width / 16) * 1rem}) / #{($fluid-max-width / 16) - ($fluid-min-width / 16)});

  @include fluid(-2);
  @include fluid(-1);
  @include fluid(0);
  @include fluid(1);
  @include fluid(2);
  @include fluid(3);
  @include fluid(4);

  --space: var(--fluid-0);
  --space-fluid: calc((var(--fluid-0) * 3) + (8 * var(--fluid-bp)));
  --space-fluid-half: calc((var(--fluid-0) * 1.5) + (4 * var(--fluid-bp)));
}

@media screen and (min-width: #{$fluid-max-width * 1px}) {
  :root { --fluid-screen: #{$fluid-max-width * 1px}; }
}
