$dark-theme: 'body[data-theme="dark"]';

$variables: (
  'content-width': 70ch
);

$border-radius: (
  'default': 10px,
  'small': 5px,
  'large': 25px,
  'xlarge': 50px,
);

$fonts: (
  'body': #{'Lato', sans-serif, 'mcadams-website'},
  'head': #{'Roboto Slab', serif, 'mcadams-website'},
  'mono': #{monospace, 'mcadams-website'},
  'icon': 'mcadams-website',
);

$colors: (
  'gray': (
    100: #f7fafc,
    200: #edf2f7,
    300: #e2e8f0,
    400: #cbd5e0,
    500: #a0aec0,
    600: #718096,
    700: #4a5568,
    800: #2d3748,
    900: #1a202c
  ),
  'blue': (
    100: #ebf8ff,
    200: #bee3f8,
    300: #90cdf4,
    400: #63b3ed,
    500: #4299e1,
    600: #3182ce,
    700: #2b6cb0,
    800: #2c5282,
    900: #2a4365
  ),
  'red': (
    100: #fff5f5,
    200: #fed7d7,
    300: #feb2b2,
    400: #fc8181,
    500: #f56565,
    600: #e53e3e,
    700: #c53030,
    800: #9b2c2c,
    900: #742a2a
  ),
  'yellow': (
    100: #fffff0,
    200: #fefcbf,
    300: #faf089,
    400: #f6e05e,
    500: #ecc94b,
    600: #d69e2e,
    700: #b7791f,
    800: #975a16,
    900: #744210
  ),
  'green': (
    100: #f0fff4,
    200: #c6f6d5,
    300: #9ae6b4,
    400: #68d391,
    500: #48bb78,
    600: #38a169,
    700: #2f855a,
    800: #276749,
    900: #22543d
  ),
  'teal': (
    100: #e6fffa,
    200: #b2f5ea,
    300: #81e6d9,
    400: #4fd1c5,
    500: #38b2ac,
    600: #319795,
    700: #2c7a7b,
    800: #285e61,
    900: #234e52
  )
);

/** -----------------------------------------------------------------
 * VARIABLES
------------------------------------------------------------------ */

body {
  @each $name, $value in $variables { --#{$name}: #{$value}; }
  @each $font, $value in $fonts { --font-#{$font}: #{$value}; }

  @each $size, $value in $border-radius {
    @if ($size != 'default') {
      --radius-#{$size}: #{$value};
    } @else { --radius: #{$value}; }
  }

  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --color-#{$color}-#{$shade}: #{$value};
      @if ($shade == 500) { --color-#{$color}: #{$value}; }
    }
  }
}

/** -----------------------------------------------------------------
 * Utility Classes
------------------------------------------------------------------ */

@each $color, $shades in $colors {
  @each $shade, $value in $shades {
    .txt-#{$color}-#{$shade} { color: var(--color-#{$color}-#{$shade}); }
    .bg-#{$color}-#{$shade} { background: var(--color-#{$color}-#{$shade}); }
    .bdr-#{$color}-#{$shade} { border-color: var(--color-#{$color}-#{$shade}); }
    @if ($shade == 500) {
      .txt-#{$color} { color: var(--color-#{$color}); }
      .bg-#{$color} { background: var(--color-#{$color}); }
      .bdr-#{$color} { border-color: var(--color-#{$color}); }
    }
  }
}

@each $size, $value in $border-radius {
  @if ($size != 'default') {
    .rounded-#{$size} { border-radius: var(--radius-#{$size}); }
  } @else {
    .rounded { border-radius: var(--radius); }
  }
}

.rounded-full { border-radius: 9999px; }

/** -----------------------------------------------------------------
 * Dark theme colors
------------------------------------------------------------------ */

.light-theme-only { display: block; }
.dark-theme-only { display: none; }

#{$dark-theme} {
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      @if ($shade != 500) { --color-#{$color}-#{1000 - $shade}: #{$value}; }
    }
  }

  .light-theme-only { display: none; }
  .dark-theme-only { display: block; }
}

/** -----------------------------------------------------------------
 * Typography
------------------------------------------------------------------ */

@function pow($number, $exponent) {
  $value: 1;
  @if $exponent > 0 { @for $i from 1 through $exponent { $value: $value * $number; } }
  @return $value;
}

@mixin fluid($step: 0, $min-size: 18, $max-size: 20, $min-ratio: 1.2, $max-ratio: 1.33) {
  $_min-size: null;
  $_max-size: null;

  @if ($step < 0) {
    $_step: $step * -1;
    $_min-size: ($min-size / pow($min-ratio, $_step)) / 16;
    $_max-size: ($max-size / pow($max-ratio, $_step)) / 16;
  } @else if ($step > 0) {
    $_min-size: ($min-size * pow($min-ratio, $step)) / 16;
    $_max-size: ($max-size * pow($max-ratio, $step)) / 16;
  } @else {
    $_min-size: ($min-size) / 16;
    $_max-size: ($max-size) / 16;
  }

  $_difference: $_max-size - $_min-size;
  --fluid-#{$step}: calc(#{$_min-size * 1rem} + (#{$_difference} * var(--fluid-bp)));
}

$fluid-max-width: 1000;
$fluid-min-width: 320;

:root {
  --fluid-screen: 100vw;
  --fluid-bp: calc((var(--fluid-screen) - #{($fluid-min-width / 16) * 1rem}) / #{($fluid-max-width / 16) - ($fluid-min-width / 16)});

  @include fluid(-1);
  @include fluid(0);
  @include fluid(1);
  @include fluid(2);
  @include fluid(3);
  @include fluid(4);

  --space: var(--fluid-0);
}

@media screen and (min-width: #{$fluid-max-width * 1px}) {
  :root { --fluid-screen: #{$fluid-max-width * 1px}; }
}
