@import '@/assets/tokens';

html {
  --base-font-size: 20px;
}

:root {
  --space: 3.5rem;

  --ms-small: 0.889em;
  --ms-normal: 1em;
  --ms-medium: 1.125em;
  --ms-large: 1.266em;
  --ms-xlarge: 1.424em;
  --ms-xxlarge: 1.602em;
  --ms-huge: 1.802em;
}

// Light default theme

body {
  --bg-color: #{color('gray', '100')};
  --alt-bg-color: #{color('gray', '200')};
  --body-color: #{color('gray', '700')};
  --title-color: #{color('gray', '800')};
  --link-color: #{color('blue')};
  --border-color: rgba(0,0,0,0.1);
  --space: 3.5rem;
  --content-width: 75ch;
  --header-height: 80px;
  --radius: 10px;
}

// Make  things smaller for mobile

@include media(portrait) {

  html {
    --base-font-size: 17px;
  }

  body {
    --space: 1.5rem;
    --header-height: 60px;
  }
}


// Override variables for Dark theme

#{$dark-theme} {
  --bg-color: #{color('gray', '800')};
  --alt-bg-color: #{color('gray', '900')};
  --border-color: rgba(255,255,255,0.1);
  --body-color: #ced8de;
  --title-color: #fff;
  --link-color: #1ea8d1;
}
