:root {
  --ms-2: 0.64em;
  --ms-1: 0.8em;
  --ms0: 1em;
  --ms1: 1.25em;
  --ms2: 1.563em;
  --ms3: 1.953em;
  --ms4: 2.441em;
  --ms5: 3.052em;
  --ms6: 3.815em;
  --ms7: 4.768em;
  --space: 1.5rem;

  --primary: #4299e1;
}

@tailwind base;

@tailwind components;

.section {
  @apply my-4;
}

.container {
  @apply max-w-5xl;
  @apply mx-auto;
  @apply px-1;
}

.container-wide {
  @apply max-w-6xl;
  @apply mx-auto;
  @apply px-1;
}

@tailwind utilities;
