@use 'sass:math';
@use 'sass:map';

// --------------------------------------------------------------------------
// Functions
// --------------------------------------------------------------------------

@function get($map, $keys...) {
  @each $key in $keys {
    $map: map.get($map, $key);
  }
  @return $map;
}

@function strip-unit($value) {
  @return ($value / ($value * 0 + 1));
}

// --------------------------------------------------------------------------
// Variables
// --------------------------------------------------------------------------

$font: (
  'body': (
    'family': #{"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif},
    'weight': ( 'normal': 400, 'bold': bold )
  ),
  'head': (
    'family': #{"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif},
    'weight': ( 'normal': 300, 'bold': normal )
  ),
  'mono': (
    'family': mono,
    'weight': ( 'normal': normal, 'bold': bold )
  )
) !default;

$color: (
  'primary': (
    'base': #1EAEDB,
    'light': #33C3F0,
    'dark': #0FA0CE,
    'foreground': #FFF
  ),
  'text': (
    'base': #333,
    'light': #555
  ),
  'border': (
    'base': #E1E1E1,
    'dark': #bbb
  ),
  'background': #F1F1F1
) !default;

$border: (
  'radius': 4px
);

$normal: 18px !default;
$rem-size: 10px !default;
$ratio: 1.25 !default;
$ratio-landscape: 1.333 !default;
$line-height: 1.5;

$-rem-size: math.percentage(strip-unit($rem-size / 16px));
$-normal: (strip-unit($normal) / strip-unit($rem-size)) + 0rem;
$-line-height: $-normal * $line-height;

@function lh($number, $base: 1.5rem) {
  @return $number * $base;
}

$input-padding: 0.8em 1em !default;

/* --------------------------------------------------------------------------
  Base Styles
-------------------------------------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* --------------------------------------------------------------------------
  Typography
-------------------------------------------------------------------------- */

:root {
  --ratio: #{$ratio};
  --ms-normal: 1em;
  --ms-small: calc(var(--ms-normal) / var(--ratio));
  --ms-medium: calc(var(--ms-normal) * var(--ratio));
  --ms-large: calc(var(--ms-medium) * var(--ratio));
  --ms-xlarge: calc(var(--ms-large) * var(--ratio));
  --ms-huge: calc(var(--ms-xlarge) * var(--ratio));
}
@media (orientation: landscape) {
  :root { --ratio: #{$ratio-landscape}; }
}

body {
  line-height: 1.5;

  font-weight: get($font, 'body', 'weight', 'normal');
  font-family: get($font, 'body', 'family');
  color: get($color, 'text', 'base');

  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}



h1, h2, h3, h4, h5, h6 {
  font-weight: get($font, 'head', 'weight', 'normal');
  font-family: get($font, 'head', 'family');
  color: get($color, 'text', 'base');
  margin-bottom: lh(1);
}

* + h1,
:not(h1) + h2,
:not(h2) + h3,
:not(h3) + h4,
:not(h4) + h5,
:not(h5) + h6 {
  margin-top: lh(2);
}

h1 {
  font-size: 4.0rem;
  font-size: var(--ms-huge, 4.0rem);
  line-height: 1.2;
}
h2 {
  font-size: 3.6rem;
  font-size: var(--ms-xlarge, 3.6rem);
  line-height: 1.25;
}
h3 {
  font-size: 3.0rem;
  font-size: var(--ms-large, 3.0rem);
  line-height: 1.3;
}
h4 {
  font-size: 2.4rem;
  font-size: var(--ms-medium, 2.4rem);
  line-height: 1.35;
}
h5 {
  font-weight: get($font, 'head', 'weight', 'bold');
}
h5, h6 {
  font-size: 1.5rem;
  font-size: var(--ms-normal, 1.5);
}

/* --------------------------------------------------------------------------
  Blockquote
-------------------------------------------------------------------------- */

blockquote {
  background: get($color, 'background');
  border-left: 3px solid get($color, 'primary', 'base');
  padding: lh(1);

  p {
    font-size: var(--ms-medium);
    margin-bottom: lh(0.5);
  }
  cite {
    display: block;
    text-align: right;
    margin-top: lh(0.5);
  }
}

/* --------------------------------------------------------------------------
  Links
-------------------------------------------------------------------------- */
$new-tab-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' x='0px' y='0px' viewBox='0 0 100 100' width='15' height='15'><path fill='currentColor' d='M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z'></path><polygon fill='currentColor' points='45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9'></polygon></svg>");

a {
  color: inherit;
  text-decoration: inherit;
}

a:not([class]) {
  color: get($color, 'primary', 'base');

  &:hover {
    color: get($color, 'primary', 'dark');
  }

  &[target="_blank"]::after {
    content: #{$new-tab-icon};
    position: relative;
    bottom: -0.1em;
    margin-left: 0.1em;
  }
}

/* --------------------------------------------------------------------------
  Buttons
-------------------------------------------------------------------------- */

%input-base {
  text-decoration: none;
  background-color: #fff;
  box-shadow: none;
  border-radius: 4px;
  padding: #{$input-padding};
  font-family: inherit;
  font-size: 90%;
  font-size: var(--ms-small, 90%);
  border: 1px solid get($color, 'border', 'base');
}

%button {
  @extend %input-base;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  @extend %button;

  color: get($color, 'text', 'light');

  &:hover, &:focus {
    color: get($color, 'text', 'base');
    border-color: get($color, 'text', 'light');
    outline: 0;
  }
}

.button-primary {
  @extend %button;
  color: #FFF;
  background-color: get($color, 'primary', 'light');
  border-color: get($color, 'primary', 'light');

  &:hover, &:focus {
    color: #FFF;
    background-color: get($color, 'primary', 'base');
    border-color: get($color, 'primary', 'base');
  }
}

/* --------------------------------------------------------------------------
  Forms
-------------------------------------------------------------------------- */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
input[type="date"],
select {
  @extend %input-base;
  margin-bottom: lh(1);

  &:focus {
    border: 1px solid get($color, 'primary', 'base');
    outline: 0;
  }
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="date"],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-moz-focus-inner {
  outline: none !important;
}
select:-moz-focusring {
color: transparent;
text-shadow: 0 0 0 get($color, 'text', 'base');
}

textarea {
  min-height: lh(5);
}

label {
  display: block;
  font-size: var(--ms-small, 90%);
}
legend {
  display: block;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] { display: inline; }

input.invalid {
  border-color: red;
  color: red;
}

input.valid {
  border-color: green;
  color: green;
}

/* --------------------------------------------------------------------------
  Lists
-------------------------------------------------------------------------- */

ul { list-style: circle inside; }
ol { list-style: decimal inside; }

ol,
ul,
dl {
  margin: 0 0 lh(1);
}

ul[class],
ol[class] {
  padding: 0;
  margin: 0;
  list-style: none;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin: 0 0 0 1em;
}

dt { font-weight: bold; }
dd { margin-left: 1em; }

/* --------------------------------------------------------------------------
  Code
-------------------------------------------------------------------------- */
pre {
  margin-bottom: lh(1);
}

code {
  padding: 0.4em 0.3em 0.2em;
  margin: 0 .2rem;
  white-space: nowrap;
  background: get($color, 'background');
  border: 1px solid get($color, 'border', 'base');
  border-radius: get($border, 'radius');
}

kbd {
  padding: 0.4em 0.3em 0.2em;
  margin: 0 .2rem;
  white-space: nowrap;
  background: get($color, 'text', 'base');
  border: 1px solid get($color, 'text', 'light');
  color: white;
  border-radius: get($border, 'radius');
}

pre > code {
  display: block;
  padding: lh(0.5);
  white-space: pre;
}

mark {
  padding: 0.1em 0.2em;
  background-color: get($color, 'primary', 'light');
}

/* --------------------------------------------------------------------------
  Tables
-------------------------------------------------------------------------- */

table {
  border-collapse: collapse;
  margin-bottom: lh(1);
}

th,
td {
  padding: lh(0.5);
  text-align: left;
  border-bottom: 1px solid get($color, 'border', 'base');
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

/* --------------------------------------------------------------------------
  Media
-------------------------------------------------------------------------- */
img {
  max-width: 100%;
  display: block;
  margin-bottom: lh(1);
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: lh(1);

  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* --------------------------------------------------------------------------
  Misc
-------------------------------------------------------------------------- */

hr {
  margin-top: lh(1);
  margin-bottom: lh(1);
  border-width: 0;
  border-top: 1px solid get($color, 'border', 'base');
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

[disabled] {
  opacity: 0.5 !important;
  filter: grayscale(100%) !important;
  pointer-events: none !important;
}

/* --------------------------------------------------------------------------
  Custom
-------------------------------------------------------------------------- */

.header-anchor {
  display: none;
}

.container {
  max-width: 60ch;
  margin: auto;
}
