/** -----------------------------------------------------------------
  * SECTION FORMS
  * TODO: Add checkboxes
  * TODO: Add radio buttons
  * TODO: Add select
------------------------------------------------------------------ */

label {
  display: block;
  text-transform: uppercase;
  margin-bottom: calc(var(--space) / 2);
  color: var(--color-gray-800);
  font-size: var(--fluid--1);
  background-color: transparent;
}

input, textarea {
  background-color: transparent;
  margin-bottom: var(--space);
  display: block;
  width: 100%;
  @include pa(0.5);
  @include rounded;
  @include bdr-thin;
  @include bdr-color(gray, 600);
  @include txt-normal;
  @include font-mono;
  @include txt-color(gray, 800);

  &:active, &:focus {
    @include bdr-color(blue, 500);
  }

  &.is-invalid { border-color: var(--color-red-500); }
  &.is-valid { border-color: var(--color-green-500); }
}

textarea {
  resize: vertical;
  min-height: 10rem;
}

/* END !SECTION FORMS */
