/** -----------------------------------------------------------------
  * SECTION FORMS
  * TODO: Add checkboxes
  * TODO: Add radio buttons
  * TODO: Add select
------------------------------------------------------------------ */

label {
  display: block;
  text-transform: uppercase;
  margin-bottom: calc(var(--space) / 2);
  color: var(--color-gray-800);
  font-size: var(--fluid--1);
  background-color: transparent;
}

input, textarea {
  background-color: transparent;
  margin-bottom: var(--space);
  display: block;
  width: 100%;
  padding: calc(var(--space) / 2);
  border-radius: var(--radius);
  border: 2px solid var(--color-gray-600);
  font-size: var(--fluid-0);
  font-family: var(--font-mono);
  color: var(--color-gray-800);

  &:active, &:focus {
    border-color: var(--color-blue-500);
  }

  &.invalid { border-color: var(--color-red-500); }
  &.valid { border-color: var(--color-green-500); }
}

textarea {
  resize: vertical;
  min-height: 10rem;
}

/* END !SECTION FORMS */
